* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

img.mini-icon {
  height: 50px;
  border-radius: 50%;
}

img.mini-mini-icon {
  height: 30px;
  border-radius: 50%;
  margin: 0px 6px;

}

div#app {
  background: rgb(235, 243, 245);
}
